*~
*.o
.deps
aclocal.m4
autom4te.cache
compile
config.log
config.status
configure
depcomp
install-sh
Makefile
Makefile.in
missing
moc_*
src/fonthunter/qt3/fonthunter3
src/fonthunter/qt4/fonthunter4
src/fonthunter/qt5/fonthunter5
src/mojihunter/qt3/mojihunter3
src/mojihunter/qt4/mojihunter4
src/mojihunter/qt5/mojihunter5
